/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.container {
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    margin-bottom: 60px;
    font-size: 36px;
}


/* fine common */

/* navbar */
nav {
    background-color: white;
    width: 100%;
    height: 82px;
    position: fixed;
    padding: 0px 20px;
    z-index: 10;

}

.link-bar {
    width: 100%;
    justify-content: space-between;
}

.logo {
    padding: 30px 0px;
    text-align: center;
    margin-right: 38px;
}

.links {
    gap: 38px;
}

.links a{
    text-decoration: none;
    color: black;
}
.links > *  {
    padding: 30px 0px; 
}

.button {
    
    margin-left: 19px;
    align-items: center;
}

.button div {
    background-color: #0061FF;
    color: white;
    padding: 10px 18px;
    
}
/* fine navbar */

/* header */
header {

    background-color: #B4D0E7;
    padding-top: 82px;
    margin-bottom: 160px;
}

#hero {
    position: relative;
    bottom: -60px;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#hero .flex {
    gap: 18px;
}

#hero-description {
    width: 30%;
}

#hero-description p {
    margin-bottom: 32px;
}

#hero-description p:nth-of-type(2) {
    margin-bottom: 70px;
}
#hero-description a {
    display: inline-block;
    text-decoration: none;
}

.button-big {
    background-color: #0061FF;
    color: white;
    padding: 14px 16px;
    margin-bottom: 32px;

}

#hero-description .fa-solid {
    font-size: 40px;
}

#hero-image {
    width: 70%;
}

#hero-image img {
    width: 100%;
}

/* fine header */

/* prima section */
h1 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 70px;
}

.check {
    margin-bottom: 50px;
}

label {
    margin-right: 25px;
    font-size: 14px;
    
}

section:nth-of-type(1) .flex {
    width: 100%;
    gap: 50px;
    margin-bottom: 50px;
}

.column {
    width: calc(100% / 3 - 50px / 3 * 2);
    border: 2px solid #DDDDDF;
    font-size: 14px;
    padding-bottom: 50px;
}

.column-header {
    text-align: center;
    padding: 12px 0px;
    border-bottom: 2px solid #DDDDDF;
    font-size: 14px;
    margin-bottom: 36px;
}

.column-main {
    padding-left: 30px;
    padding-right: 30px;
}

.column-main .fa-solid {
    padding-top: 3px;
}
.gap-5 {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.column .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.column .price {
    font-weight: 700;
    margin-bottom: 12px;
}

.column .month {
    color: gray;
    margin-bottom: 50px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.functions {
    margin-bottom: 50px;
}

.column a.button-big {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.buy-now {
    padding-bottom: 40px;
    margin-bottom: 50px;
    display: inline-block;
    border-bottom: 2px solid #DDDDDF;
}

.column-footer {
    padding-left: 30px;
    padding-right: 30px;
}

.column-footer .title {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 20px;
}

.column-footer .list {
    margin-bottom: 20px;
}

.column-footer .list .fa-solid {
    color: #0061FF;
    padding-top: 5px;
}
.team {
    width: 100%;
    border: 2px solid #DDDDDF;
}

.team .flex {
    padding: 0px 30px;
    gap: 0;
}
.team .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.team .sub-title {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 50px;

}

.team .flex .button {
    width: calc(100% / 3);
}

.team .button-big {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.team a.button-big {
    text-decoration: none;
}
/* fine prima section */

/* seconda section */
section:nth-of-type(2) .container {
    gap: 50px;
}

section:nth-of-type(2) .container .image{
    width: 70%;
}

section:nth-of-type(2) .container .image img {
    width: 100%;
}
section:nth-of-type(2) .container .text {
    width: 30%;
    padding-top: 60px;
}

section:nth-of-type(2) .container .text .title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
}

section:nth-of-type(2) .container .text p {
    padding-bottom: 30px;
}

.button-white {
    display: inline-block;
    padding: 12px;
    border: 2px solid black;
}

.button-white{
    text-decoration: none;
    color: black;
}
/* fine seconda section */

/* terza section  */
.tools-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 50px;
    margin-bottom: 200px;
}

.tools {
    width: 100%;
    max-width: calc(100% / 3 - 50px / 3 * 2);
    flex-direction: column;
}
.tools .text .title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px;
}

.tools .image img {
    width: 100%;
}
/* fine terza section  */

/* quarta section  */
section:nth-of-type(4) {
    padding-left: 0px;
    padding-right: 0px;
}

.square {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    flex-wrap: wrap;
}

.square.text {
    flex-grow: 1;
    background-color: #F5F5F5;
    padding: 50px;
    overflow: auto;
}

.square.text img {
    width: 50%;
    padding-bottom: 46px;
}

.square.text .gray-line {
    width: 100px;
    height: 3px;
    background-color: #ECECED;
    margin-bottom: 40px;
}

.square.text p {
    margin-bottom: 50px;
}
.square-small {
    width: calc(100% / 2);
    height: calc(100% / 2);
    justify-content: center;
}

.bg-green {
    background-color: #A2D39B;
    border: 16px solid #D1E9CD;
}

.bg-darkred {
    background-color: #61082B;
}

.bg-azure {
    background-color: #0093CE;
}

.bg-lightred {
    background-color: #FF1C1C;
}

.bg-red {
    background-color: #D5001F;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.bg-blue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}

.square-small img {
    width: 50%;
    filter: invert(100%);
}

#florida {
    height: auto;
    align-self: center;
}

#cta {
    background-color: #B4D0E7;
    padding-left: 20px;
    padding-right: 20px;
}

#cta .container {
    padding: 130px 0px;
}

h3 {
    width: 50%;
    font-size: 36px;
    color: #61082B;
}

.freetrial {
    width: 50%;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
}

.freetrial .button {
    background-color: white;
    padding: 12px 50px;
}
/* fine quarta section  */

/* quinta section */
section:nth-of-type(5) .flex {
    padding: 40px 0px;
    border-bottom: 2px solid #B1B1B1;
    justify-content: space-between;
    font-weight: 700;
}

section:nth-of-type(5) .flex:nth-of-type(1) {
    border-top: 2px solid #F3F3F3;
}

.chevron-down {
    margin-right: 55px;
}

/* fine quinta section */

/* footer */
footer {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-large {
    max-width: 1200px;
    margin: auto;
   

}

footer .flex {
    margin-bottom: 110px;
    justify-content: space-between;
}

.footer-list > div {
    margin-bottom: 16px;
    font-size: .9em;
}

h5 {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}
.lang {
    display: inline-block;
    border-top: 2px solid #939393;
    font-size: .9em;
    padding: 50px 0px;
    padding-right: 20px;
}

.fa-earth-americas {
    margin-right: 5px;
}

.fa-caret-up {
    margin-left: 2px;
}
/* fine footer */