/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.container {
    max-width: 1000px;
    margin: auto;

    /* test */
    border: 2px dashed red;
}

section {
    margin-bottom: 84px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    margin-bottom: 36px;
}


/* fine common */

/* navbar */
nav {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0px 10px;
    z-index: 10;

}

.link-bar {
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 75px;
    padding: 18px 0px;
    text-align: center;
    margin-right: 18px;
}

.links {
    gap: 18px;
}

.links > *  {
    padding: 18px 0px; 
}

.button {
    
    margin-left: 8px;
    align-items: center;
}

.button div {
    background-color: #0061FF;
    color: white;
    padding: 4px 8px;
    
}
/* fine navbar */

/* header */
header {

    background-color: #B4D0E7;
    padding-top: 58px;
    margin-bottom: 90px;
}

#hero {
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

#hero .flex {
    gap: 18px;
}

/* test */
#hero > * {
    border: 2px dashed red;
}

#hero-description {
    width: 500px;
    flex-grow: 1;

    /* test */
    height: 400px;
}

/* fine header */

/* prima section */
h1 {
    font-size: 2.8em;
    font-weight: 800;
}

#hero-description {
    max-width: 204px;
    border: 2px dashed red;

}

#hero-image {
    width: 100%;
    border: 2px dashed red;

}

.check {
    margin-bottom: 28px;
}

label {
    margin-right: 25px;
    
}

section:nth-of-type(1) .flex {
    width: 100%;
    gap: 28px;
    margin-bottom: 28px;
}

.column {
    width: calc(100% / 3 - 28px / 3 * 2);

    /* test */
    border: 2px dashed red;
    height: 540px;
    /* test */
}

.team {
    width: 100%;

    /* test */
    border: 2px dashed red;
    height: 300px;
}
/* fine prima section */

/* seconda section */
section:nth-of-type(2) .container {
    height: 294px;
    gap: 28px;
}

section:nth-of-type(2) .container > * {
    /* test */
    border: 2px dashed red;
}
section:nth-of-type(2) .container .image{
    flex-grow: 1;
}

section:nth-of-type(2) .container .text {
    width: 10px;
}

/* fine seconda section */

/* terza section  */
.tools-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px 28px;
    margin-bottom: 100px;
}

.tools {
    width: 100%;
    max-width: calc(100% / 3 - 28px / 3 * 2);
    flex-direction: column;

    /* test */
    height: 500px;
    border: 2px dashed red;
}

.tools .image {
    border: 2px dashed red;
    height: 200px;
}

/* fine terza section  */

/* quarta section  */
.square {
    height: 340px;
    width: 340px;
    flex-wrap: wrap;

    border: 2px dashed red;
}

.text {
    flex-grow: 1;

    border: 2px dashed red;
}

.square-small {
    width: calc(100% / 2);
    border: 2px dashed red;
}

#cta .container {
    padding: 70px 0px;
}
/* fine quarta section  */

/* quinta section */

/* fine quinta section */